<div class="row">
	<div class="col-md-3">
		<h2>Resources</h2>
	</div>
	<div class="col-md-6">
		<h2><%= link_to current_user.name, current_user %></h2>
		<p>You have a total of <%= pluralize(@decks.count, 'deck') %>:
			<ul>
				<% @decks.each do |deck| %>
				<li><%= link_to deck.name, deck_path(deck) %></li>
				<% end %>
			</ul>
		</p>
	</div>
	<div class="col-md-3">
		<h2>Articles</h2>
	</div>
</div>
