<% provide(:title, "About") %>
<h1>Crossing the Lethe</h1>
<p>This site is all about learning, so we thought it appropriate to pull inspiration from Memorization of when Decimus Junius Brutus crossed the river in 138 BC.</p>
<a href="https://en.wikipedia.org/wiki/Lethe#Real_rivers" target=_blank>reference</a>
