<% provide(:title, "Help") %>
<h1>Help</h1>
<p>If you need help to get started, see the resources and tutorials on the main page.</p>
<p>A good start is to copy a public deck and use that to explore training, editing, analysis or print options</p>
<p>For teachers, reach out to your local support contact. Info for that will be found in your account settings</p>
