<h3>Hello <%= @teacher.name %>,</h3>
<p>Here you can invite non existing users and existing users
to be part of your pool of students.</p>

<p>You will use this pool of students to add to your courese
	that will create in the 'Manage courses' page
</p>

<p>
User must give concent to you as a teacher as this app saves students learning
progress statistics that is for the teacher to follow a students progress over time.
This data will be deleted once a user deletes his or her account.
</p>

<hr />
You currently have <%= @rosters.count %> students in your roster

<%= form_for invite_roster_path(@roster), remote: true do |f| %>

<%= f.text_field :new_student_email  %>

If name matches before @ symbol in email, leave below field blank.<br />


<%= f.submit 'send invitation' %>
<% end %>
