<h3>Roster page for <%= @student.name %></h3>
	<ul>
		<li><%= link_to "Enrolled in X courses by you", '#' %> </li>
	</ul>


	<%= form_for @roster, remote: true do |f| %>
	<%= f.label :notes, "Your notes on #{@student.name}" %>
	<%= f.text_area :notes, value: "#{@roster.notes}" %>
	<%= f.submit "Save notes" %>
	<% end %>

<hr />
<h4>Enrolled in your courses:</h4>

<% @courses.each do |course| %>
	<p><strong><%= course.title %></strong></p>
	<h5>Studies:</h5>
	<ul>
	<% @studies.each do |student_deck| %>
<li>		<%= student_deck.name %></li>
		<ul>
		<% Card.where(deck_id: student_deck).each do |card| %>
			<li><%= link_to card.front,
							deck_card_tracker_path(student_deck, card, card.tracker) %></li>
		<% end %>
	</ul>
	<% end %>
</ul>
<% end %>

<div id="tracker_container'">text har?
</div>
