<h1>Crossing the Lethe</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to cross the Lethe and hope it will help you on your path to more learning!<br />
Click on link below to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
