Hi <%= @user.name %>,

Welcome to cross the Lethe and hope it will help you on your path to more learning!
Click on link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
