Hi <%= @user.name %>,

<%= @teacher.name %> has invited you to become included in their roster.
This means that you can be included in their classes.
This also means that they can track the specific decks that are sent to you,
but not Decks and Cards that you create on your own.
To accept this invitation click on link below:

<%= link_to 'Accept Invitation', edit_teacher_invite_url(@invite.invitation_token, email: @user.email) %>

If you don't want to accept this invitation, just ignore and delete email.
