<p>Your next alert is set for <%= @reminder.next_alert.strftime("%A, %b %d, %Y, at %H:%m") %></p>
<% unless @reminder.alerts.count == 0 %>
		You have cued reminders : </br>
		<ol>
			<% @reminder.alerts.each do |alert| %>

			<li>This is an alert for <%= Date.parse(alert).strftime("%A, %b %d, %Y") %></li>
			<% if false %>
				<%= f.text_field :starts_at, :value => my_date_helper(@my_model.starts_at) %>
				<% end %>

		<% end %>
		</ol>
	<% end %>
