This is just to alert that <%= @pupil.name %> used the print services to create flash cards from the <%= @deck.name %> deck.

This email is only for the purpose of encouraging students to find the practices that works best for them, but also informs teacher
that the students tracker isn't telling the full picture.

We recommend all student to use this site to thier own learnings style advantage. Hence we offer the printing of flash cards.
This could be encouraged with setting up reminder alerts.
