Hi <%= @user.name %>.

<%= @course.title %> has just released a new study for you to learn: <%= @deck.name %>.
You'll find a copy of it among your own decks, or you can directly access it here:
<%= deck_url(@deck) %>
