<li>
	<% if current_user.admin %>
		<%= link_to user.name, user_path(user) %>
		<%= link_to "delete user", user, method: :delete, data: { confirm: "Are you sure?" } %>
	<% else %>
		<% if user.shared %>
			<%= link_to user.name, user_path(user) %>
		<% end %>
	<% end %>
</li>
