<% provide(:title, @user.name) %>
	<div class="row">
		<div class="col-md-12">
			<h2><%= "#{@user.name}, email: #{@user.email}." %></h2>
		</div>
	</div>

	<% if current_user?(@user) %>
	<div class="row">
		<div class="col-md-8"<p><%= "#{@user.name}, you currently have #{@decks.count} deck." %>

		<ul>
			<% @decks.each do |deck| %>
				<li><%= link_to "#{deck.name}", deck_path(deck) %></li>
			<% end %>
		</ul>
		<p>Your public status is currently set to <strong><%= @user.shared ? 'public' : 'private' %></strong>.</p>
		<p><%= link_to 'delete my account', @user, method: :delete, data: { confirm: "Are you sure? This can not be undone." } %></p>

	</div>

	<div class="col-md-4">

		<% if @user.user_type == 'teacher' %>
		<%= link_to 'Teachers management tools', teacher_tool_user_path(@user) %>
		<% end %>
		<hr />


		<p>create a new deck:</p>
		<%= form_for @deck do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :description %>
			<%= f.text_area :description, class: 'form-control' %>

			<% if current_user.admin %>
				<%= f.label :tracked, class: "checkbox inline" do %>
					<%= f.check_box :tracked %>
					<span>Track my progress</span>
				<% end %>
			<% end %>


			<%= f.submit "Create Deck" %>
			<% end %>
	</div>
</div>



	<% end %>
