<h3>This is <%= @teacher.name %>'s Teacher Management tool.</h3>
<p>
	<h4>Student Roster</h4><br />
	This gives you access to create a roster of students, from which you can add to your courses:<br />
	You currently have <%= pluralize @rosters.count, "student" %> in your roster<br />



	<%= form_for(@roster, remote: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :roster_invite_email, "email:" %>
	<%= f.text_field :roster_invite_email %>
	<br />
	<%= f.label :name, 'If name matches before @ symbol in email, leave below field blank.' %>
	<%= f.text_field :name %>
	<%= f.submit 'send invitation' %>
	<% end %>
	Full list of roster of students:<br />
	<ul>
	<% @rosters.each do |student| %>
	<li><%= link_to User.find_by(id: student.student_id).name, roster_path(student) %></li>
	<% end %>
	</ul>
</p>

<p>
	<hr />
	<h4>Courses</h4>
	Access your current courses here:<br />
	<%= link_to 'create new course', new_course_path %><br />
	or manage your previously <%= "#{@courses.count} " %> created courses:<br />
	<ul>
	<% @courses.each do |course| %>
		<li><%= link_to "#{course.title}", course_path(course) %></li>
	<% end %>
</ul>
</p>
