<div class='navbar navbar-fixed-bottom navbar-inverse'>
	<div class="container">
		<div class='navbar-header'>
		<ul class='nav navbar-nav navbar-left'>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Help', help_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
		</ul>
	</div>
</div>
