<header class="navbar navbar-static-top navbar-inverse">
	<div class="container">
		<div class="navbar-left">
			<%= link_to image_tag("navbar_logo.png", id: "nav_logo") %> <%= link_to 'Lethe', root_path, id: 'nav_brand_name' %>
		</div>
		<nav>
			<ul class='nav navbar-nav navbar-right' id='topNavAlteration'>
					<% if logged_in? %>

						<li><%= link_to 'Log out', logout_path, method: 'delete' %></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to 'Profile', current_user %></li>
								<li><%= link_to "Settings", edit_user_path(current_user) %></li>
								<li class="divider"></li>
								<li><a href="#">Deck list here</a></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to 'Log in', login_path %></li>
						<li><%= link_to 'Sign up', signup_path %></li>
					<% end %>
				<li><%= link_to 'Home', root_path %></li>
				<% if logged_in? %>
					<li><%= link_to "All users", users_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
