<h1>Create a new course:</h1>

<%= form_for @course do |f| %>
<%= render 'shared/error_messages', object: f.object  %>
Course name:
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %>

Course description:
<%= f.label :description %>
<%= f.text_area :description, class: 'form-control' %>

Start Date of course:
<%= f.label :start_date %>
<%= f.text_field :start_date, "data-provide" => 'datepicker' %>

End Date of course:
<%= f.label :end_date %>
<%= f.text_field :end_date, "data-provide" => 'datepicker' %>

<%= f.submit "Create Course" %>

<% end %>
