<h3><%= @course.title %></h3>
<h4>Description:</h4>
<p><%= @course.description %></p>
<ul>
	<li>The <%= @course.title %> is
		<%= pluralize day_count(@course.start_date, @course.end_date), "day" %> long.</li>
	<li>start date : <%= @course.start_date.to_date %></li>
	<% @studies.each do |study| %>
	<li><%= link_to get_deck_name(study.deck_id), deck_path(study.deck_id) %>,
		with <%= pluralize get_card_count(study.deck_id), "card" %>,
		released on <%= study.release.to_date %>.
		<%= link_to 'remove', course_study_path( @course, study), method: :delete %></li>
	<% end %>
	<li>end date : <%= @course.end_date.to_date %></li>
</ul>
There <%= "is".pluralize(@studies.count) %>
<%= pluralize @studies.count, "study" %> in this course
<hr />
<h4>Pupils</h4>
<% if @pupils.count == 0 %>
You have no pupils enrolled in this course.<br />
Please add pupils from your roster.
<% else %>
<%= pluralize @pupils.count, "pupil" %> are currently enrolled:<br />
<ul><% @pupils.each do |pupil| %>
	<li><%= link_to get_user_name(pupil.user_id),
					course_pupil_path(@course, pupil), method: :delete %></li>
	<% end %>
</ul>
<% end %>
<hr />
<h4><%= @teacher.name %>'s Roster: </h4>
<ul>

<% @rosters_left.each do |roster| %>
	<li>
		<%= link_to get_user_name(roster.student_id),
				course_pupils_path(	@course, {action: :create},
				pupil: { user_id: roster.student_id, course_id: @course.id } ),
				method: :post %></li>
<% end %>
</ul>
<hr />
<h4><%= @teacher.name %> Decks : </h4>
</ul>
Total of <%= pluralize (@teachers_decks.count), "deck" %> in your collection:</br>
<% @teachers_decks.each do |deck| %>
	<li><%= deck.name %>
		<%= form_for [@course, @study] do |f| %>
		<%= render 'shared/error_messages', object: f.object  %>
		<%= f.hidden_field :deck_id, :value => deck.id %>




		<%= f.label :release %>
		<%= f.text_field :release, "data-provide" => 'datepicker' %>
		<%= f.submit "Add Deck to Course" %>
		<% end %>
		</li>
<% end %>
</ul>
