This card is being <strong>tracked</strong>.
<% tracker_was_exposed(@card.id) %>
<% if @card.hint != "" || nil %>
	<div>
		<%= link_to "Reveal Hint", see_hint_deck_card_tracker_path(@card.deck, @card, get_tracker), id: "reveal_hint_button", remote: true  %>
		<span id="hint_text"><%= @card.hint %></span>
	</div>
<% end %>
<div>
	<%= link_to "Show Card", see_backside_deck_card_tracker_path(@card.deck, @card, get_tracker), id: "reveal_card_button", remote: true  %>
	<p id="backside_text">
		<%= @card.back %>
		<%= image_tag @card.picture.url if @card.picture? %>
	</p>
</div>
<div>
<p><%= link_to 'update card', edit_deck_card_path(@card.deck_id, @card) %></p>

<p><%= link_to 'delete this card', [@card.deck, @card], method: :delete, data: { confirm: "Are you sure? This can not be undone." } %></p>

<div id="show_self_evaluation">
	<%= form_for [@card.deck, @card], :url => skill_update_deck_card_path(@card.deck, @card), remote: true do |f| %>
		<%= f.label :level, 'knowledge level: ' %>
			<%= f.radio_button :level, 1 %><%= f.label 1, "Unknown" %>
			<%= f.radio_button :level, 2 %><%= f.label 2, "Vague" %>
			<%= f.radio_button :level, 3 %><%= f.label 3, "Known" %>
			<%= f.radio_button :level, 4 %><%= f.label 4, "Confident" %>
			<%= f.radio_button :level, 5 %><%= f.label 5, "Mastered" %>
	<%= f.submit "Update Card", id: "radioButtonsSubmit", style: "display: none;" %>
	<% end %>
</div>
<div id="tracker_container">
<%= link_to 'see tracker data', deck_card_tracker_path(@card.deck, @card, get_tracker), remote: true, id: 'show_tracker'%>
</div>
