<%= @card.front %>
Edit card here.
<%= form_for [@card.deck, @card] do |f| %>
	<%= render 'shared/error_messages', object: f.object  %>

	<%= f.label :front %>
	<%= f.text_field :front, class: 'form-control' %>

	<%= f.label :hint %>
	<%= f.text_field :hint, class: 'form-control' %>

	<% if false %>
		<% learning_level = options_for_select([ ["unknown", 1], ["vague", 2], ["known", 3], ["confident", 4], ["mastered", 5] ], selected: @card.level) %>
		<%= f.label :level, 'knowledge level: ' %>
		<%= f.select :level, learning_level %>
	<% end %>
	
	<%= f.label :back %>
	<%= f.text_area :back, class: 'form-control' %>

	<%= f.submit "Update Card" %>
<% end %>
