<% provide(:title, @card.front) %>
<%= link_to @card.deck.name, @card.deck %>
<p><%= link_to 'previous card', show_previous_deck_card_path(@card.deck, get_card_from_list(-1)) %>
	 ||
	<%= link_to 'next card', show_next_deck_card_path(@card.deck, get_card_from_list(1)) %></p>
<h1><%= @card.front %></h1>
<% if @card.deck.tracked %>
 	<%= render 'tracker_show' %>
<% else %>
 	<%= render 'show' %>
<% end %>
