Hi <%= @user.name %>.

This is your self generated friendly reminder to study the <%= @deck.name %> deck.

If you already haven't you can print out your deck as cards or use one of the two
practice card approach. All options are directly available from the deck page:
<%= deck_url(@deck) %>
