<h2>Hi <%= @user.name %>.</h2>

<p>This is your self generated friendly reminder to study the <%= @deck.name %> deck.</p>

<p>
If you already haven't you can print out your deck as cards or use one of the two
practice card approach. All options are directly available from the deck page:<br />
<%= link_to "#{@deck.name}", @deck %>
<% if @last_reminder %>
<strong>Please note that this is your last qued email alert for this deck.</strong>
You can easily add more alerts from the deck page..
<% else %>
Your next reminder is scheduled for <%= "#{@next_reminder}" %>.
<% end %>
</p>
