	<ul>
		<li>card used: <%= tracker.exposure_arr.count %></li>
		<li>hint used: <%= tracker.hint_used_arr.count %></li>
		<li>card flipped: <%= tracker.back_exposure_arr.count %></li>
		edits:
		<li>skill-level: <%= tracker.level_changed.count %></li>
		<li>front: <%= tracker.front_changed.count %></li>
		<li>hint: <%= tracker.hint_changed.count %></li>
		<li>backside: <%= tracker.back_changed.count %></li>
	</ul>
