tracker page page for Card: <%= @tracker.card.front %>, from Deck: <%= @tracker.card.deck.name %><br />
<hr />
Card called count : <%= @tracker.exposure_arr.length %><br />
<ul>
	<% @tracker.exposure_arr.each do |front_count| %>
		<li>
			<%= front_count %>
		</li>
	<% end %>
</ul>
<hr />
<% unless @tracker.hint_used_arr == [] %>
	Hint used count : <%= @tracker.hint_used_arr.length %><br />
	<ul>
		<% @tracker.hint_used_arr.each do |hint_count| %>
			<li>
				<%= hint_count %>
			</li>
		<% end %>
	</ul>
<% end %>
<hr />
	Card flipped count : <%= @tracker.back_exposure_arr.length %><br />
	<ul>
		<% @tracker.back_exposure_arr.each do |card_flipped| %>
			<li>
				<%= card_flipped %>
			</li>
		<% end %>
	</ul>

	<hr />
		Skill level changed count : <%= @tracker.level_changed.length %><br />
		<ul>
			<% @tracker.level_changed.each do |level_changed| %>
				<li>
					To level: <%= level_changed[1] %>, at: <%= level_changed[0] %>
				</li>
			<% end %>
		</ul>
	<hr />
	Front of card edits count : <%= @tracker.front_changed.length %><br />
	<ul>
		<% @tracker.front_changed.each do |front_edits| %>
			<li>
				Edit: <%= front_edits[1] %><br /><%= front_edits[0] %>
			</li>
		<% end %>
	</ul>
	<hr />
	Hint of card edits count : <%= @tracker.hint_changed.length %><br />
	<ul>
		<% @tracker.hint_changed.each do |hint_edits| %>
			<li>
				Edit: <%= hint_edits[1] %><br /><%= hint_edits[0] %>
			</li>
		<% end %>
	</ul>
	<hr />
	Back of card edits count : <%= @tracker.back_changed.length %><br />
	<ul>
		<% @tracker.back_changed.each do |back_edits| %>
			<li>
				Edit: <%= back_edits[1] %><br /><%= back_edits[0] %>
			</li>
		<% end %>
	</ul>
