@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/** {border:1px solid red} */
body {
	/* pushes down content from the top nav covering all top content. */
	/* padding-top: 60px; */

}
#topNavAlteration {
	height: 45px;
	padding-top: 25px;
}
#nav_logo {
	padding-top: 10px;
	padding-bottom: 6px;
	margin: 0px;
}
#nav_brand_name {
	text-decoration: none;
	font-size: 2em;
	line-height: 1em;
}

/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* Card pages */
.show_skillUpdate {

}
label {
	display: inline-block;
}

#hint_text {
	visibility: hidden;
}

#backside_text {
	visibility: hidden;
}
#show_self_evaluation {
	visibility: hidden;
}
// .navbar-nav > li > a {
//    line-height: 60px;
// }
/*nav.navbar-nav>li > a {
 padding-top: 0px;
 padding-bottom: 0px;
 line-height: 30px;
}*/
#reveal_hint_button {
	width: 180px;
}
