
	<p><strong>Select cards to include:</strong></p>

<% @cards.each do |card| %>
<%= check_box_tag(card.id, card.id, false, :onclick=>"add_card_to_print_list(#{card.id});")%><%= "#{card.front}" %>
<% end %>
<br />
<a href="#"  id="add-card">pdf selected cards only - front.</a>

<!--onclick="add_card_to_print_list('test')" -->
