<% provide(:title, "Deck Settings") %>
<h1>Deck settings for <%= @deck.name %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@deck) do |f| %>
			<%= render 'shared/error_messages', object: f.object  %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :description %>
			<%= f.text_area :description, class: 'form-control' %>

			<%= f.submit "Save setting changes", class: 'btn btn-primary' %>
		<% end %>
		<p><%= link_to 'delete this deck', @deck, method: :delete, data: { confirm: "Are you sure? This can not be undone." } %></p>
	</div>
</div>
