<% provide(:title, @deck.name) %>
back to <%= link_to @deck.name, deck_path(@deck) %> deck page
<p>The <strong><%= @deck.name %></strong> deck has totale of <%= @cards.count %> cards.</p>

<p>This is just a big overwhelming data dump.<br />
Will be designed differently in design phase.</p>
<ul>
<% @cards.each do |card| %>
  <li><%= card.front %> has been used <%= pluralize(card.tracker.exposure_arr.count, 'time') %>
		<ul>
			<li>
			<% if card.tracker.exposure_arr.count == card.tracker.hint_used_arr.count %>
				Hint was always used.
			<% else %>
				Hint was used <%= pluralize(card.tracker.hint_used_arr.count, 'time') %>.
			<% end %>
		</li>
		<li>
			<% if card.tracker.exposure_arr.count == card.tracker.back_exposure_arr.count %>
				Card was always used.
			<% else %>
				Card was used <%= pluralize(card.tracker.back_exposure_arr.count, 'time') %>.
			<% end %>
		</li>
		<li>Skill level was changed <%= pluralize(card.tracker.level_changed.count, 'time') %>.</li>
		<li>Front of card was changed <%= pluralize(card.tracker.front_changed.count, 'time') %>.</li>
		<li>Card itself was changed <%= pluralize(card.tracker.back_changed.count, 'time') %>.</li>
		<li>Hint was changed <%= pluralize(card.tracker.hint_changed.count, 'time') %>.</li>


		</ul>
	</li>
<% end %>
</ul>
