This is the print page
<div>
<p><strong>PDF file</strong> for print. (This generates 2 pdf's: Front_side.pdf and Back_side.pdf.)</p>
<!-- <p><%= link_to 'test me', new_deck_print_path(@deck, @card_ids, type: 'pdf', paper_width: 6, paper_height: 4, cards_per_paper: 2), remote: true %></p> -->
<p><%= link_to 'Full deck, 2 cards on 6x4 inch paper - front side', new_deck_print_path(@deck, type: 'pdf', paper_width: 6, paper_height: 4, cards_per_paper: 2, side: 'front', format: "pdf") %></p>
<p><%= link_to 'Full deck, 2 cards on 6x4 inch paper - back side', new_deck_print_path(@deck, type: 'pdf', paper_width: 6, paper_height: 4, cards_per_paper: 2, side: 'back', format: "pdf") %></p>

<!-- <p><%= link_to 'Full deck, 2 cards on 6x4 inch paper', create_pdf([@card_ids], '6x4', 2 ), remote: true  %></p>
<p><%= link_to 'Full deck, 1 card on 6x4 inch paper', create_pdf([@card_ids], '6x4', 1 ), remote: true %></p>
<p><%= link_to 'Full deck, 6 cards on 8.5x11 inch paper', create_pdf([@card_ids], '8.5x11', 6 ), remote: true %></p>
<p><%= link_to 'Full deck, 6 cards on A4 paper', create_pdf([@card_ids], 'A4', 6 ), remote: true %></p>

</div>
<hr>
<div>

<p><strong>InDesign csv</strong> files. (See InDesign Templates and tutorial for importing)</p>
<p><%= link_to 'Full deck, 2 cards on 6x4 inch paper', '#' %></p>
<p><%= link_to 'Full deck, 1 card on 6x4 inch paper', '#' %></p>
<p><%= link_to 'Full deck, 6 cards on 8.5x11 inch paper', '#' %></p>
<p><%= link_to 'Full deck, 6 cards on A4 paper', '#' %></p>
<p>Benefits of using this is that you can edit the final InDesign file before printing, but you need to have InDesign.<br />
<p><%= link_to 'tutorial how to import CSV', '#' %></p>
<p><%= link_to 'InDesign template files', '#' %></p>
(Tested on InDesign 2015CC only.)</p> -->

</div>
<hr>
<%= link_to 'selected individual cards', print_custom_deck_path(@deck), id: "select_cards", remote: true %>
<div id="cards_container">
</div>
<%= link_to "red rum test", new_deck_print_path(@deck, custom_select_items: "", type: 'pdf', paper_width: 6, paper_height: 4, cards_per_paper: 2, side: 'front', format: "pdf"), id: "custom_cards" %>
