console.log('Add All cards as print options.');
$("#select_cards").remove();
$('div#cards_container').append(" <%= escape_javascript(render partial: 'custom_select') %> ");

$('#add-card').click(function(event) {
  event.preventDefault();
  $.post('/decks/'+ location.pathname.match(/^\/decks\/(\d+)/)[1] +'/prints',
  { contentType: 'pdf', cards: cards_for_printing, type: 'pdf', paper_width: 6, paper_height: 4, cards_per_paper: 2, side: 'front', format: 'pdf' })
    .done(function(result) {
      console.log(result);
    }
  );
});
