<h3>Create reminders for deck <%= @deck.name %>:</h3>
<p>If you have mastered all cards you might want to use the Pimslur repition setup:</p>
<p>1 day, 5 days, 25 days, 4 months, 2 years. <strong>

	<%= link_to 'make alerts', deck_reminders_path(
	@deck,
	@reminder,
	{action: :create},
	reminder: {
		next_alert: (DateTime.now + 1.day),
		alerts: [ (DateTime.now + 5.days), (DateTime.now + 25.days), (DateTime.now + 4.months), (DateTime.now + 2.years) ],
		repeating: false
	}
	), method: :post %>
</strong></p>


</p>
<hr />
<p>Or if you haven't mastered all the cards in the deck and just want to get a once only or repeated reminder:<br />

	<ul>
		<li><%= form_for [@deck, @reminder] do |f| %>
				<%= render 'shared/error_messages', object: f.object  %>
				<%= f.label :day_count, 'how many alerts:' %>
				<%= f.number_field :day_count, class: 'form-control' %>
				<%= f.label :interval, 'with how many days between each alert:' %>
				<%= f.number_field :interval, class: 'form-control' %>
				<%= f.submit "Create Daily alerts" %>
			<% end %></li>
			<li><%= form_for [@deck, @reminder] do |f| %>
					<%= render 'shared/error_messages', object: f.object  %>
					<%= f.label :week_count, 'how many alerts:' %>
					<%= f.number_field :week_count, class: 'form-control' %>
					<%= f.label :interval, 'with how many weeks between each alert:' %>
					<%= f.number_field :interval, class: 'form-control' %>
					<%= f.submit "Create Weekly alerts" %>
				<% end %></li>
	</ul>
</p>

Read more about this specific setup and spaced repition techniques <a href='http://mt.artofmemory.com/wiki/Spaced_Repetition_and_Recall'>here</a>.
