<% provide(:title, @deck.name) %>
	<div class="row">
		<div class="col-md-12">
			<h2><%= @deck.name %></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<p><%= @deck.description %></p>
			<p><%= link_to 'Print cards', print_deck_path(@deck) %></p>

			<%= link_to 'Setup practive reminders', repitition_alerts_deck_path(@deck) %></p>
			<p>Card rehersal options:<br />
			<ul>
				<li><%= link_to "All equal", static_list_deck_path, title: "Runs through card exactly as sequence of below listed." %></li>
				<li><%= link_to "Random lower skill", dynamic_list_deck_path, title: "Random list, but skewed towards lower ranked skill levels." %></li>
			</ul>
			</p>
			<p><%= "#{@deck.name}, has currently #{@cards.count} cards in it." %></p>


		<ul>
			<% @cards.each do |card| %>
				<li><%= link_to "#{card.front}", static_show_deck_card_path(@deck, card) %></li>
			<% end %>
		</ul>
		<p><%= link_to 'Deck settings', edit_deck_path %>

		<% if @deck.tracked %>
			<p><%= link_to 'View All Tracker data', learn_analaysis_deck_path(@deck) %></p>
		<% end %>



	</div>
	<div class="col-md-4">

		<%= form_for [@deck, @card], html: { multipart: true } do |f| %>
				<%= render 'shared/error_messages', object: f.object  %>

			<%= f.label :front %>
			<%= f.text_field :front, class: 'form-control' %>

			<%= f.label :hint %>
			<%= f.text_field :hint, class: 'form-control' %>

			<% learning_level = options_for_select([ ["unknown", 1], ["vague", 2], ["known", 3], ["confident", 4], ["mastered", 5] ], selected: @card.level) %>
			<%= f.label :level, 'knowledge level: ' %>
			<%= f.select :level, learning_level %>

			<%= f.label :back %>
			<%= f.text_area :back, class: 'form-control' %>

			<%= f.submit "Create Card" %>
			<% if current_user.admin %>
			<span class="picture"><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></span>
			<% end %>
		<% end %>

		<!-- this is only for user understanding. The limit is enforced on server end as well -->
		<script type="text/javascript">
		  $('#card_picture').bind('change', function() {
		    var size_in_kilobytes = this.files[0].size/1024;
		    if (size_in_kilobytes > 500) {
		      alert('Maximum file size is 500kB. Please choose a smaller file.');
		    }
		  });
		</script>
	</div>
</div>
